@model AEGEE_MVC.Models.DescOfUserModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayFor(model => model.Name)
                @Html.DisplayFor(model => model.Surname)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Desc) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescId)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
}
    </tbody>
</table>
